{{^count_sessions}}
	{{^pre_count_sessions}}
		<div class="post">{{#str}}noupcomingevents,block_apsolu_attendance{{/str}}</div>
	{{/pre_count_sessions}}
{{/count_sessions}}

{{#pre_count_sessions}}
	<h3 class="block-apsolu-attendance-h3">{{#str}}presessions,block_apsolu_attendance{{/str}}</h3>
	{{#isonwaitlist}}
	{{#str}}presessionsnotice,block_apsolu_attendance{{/str}}
	{{/isonwaitlist}}

	{{#pre_sessions}}
	<div class="block-apsolu-activities-box-div">
		<p>{{label}}</p>
		<p class="block-apsolu-activities-time-p">
			<time datetime="{{starttime}}">{{startstr}}</time> &raquo; <time datetime="{{endtime}}">{{endstr}}</time>
		</p>
		<div>{{{description}}}
			{{#latitude}}
			<a target="_blank" href="https://www.openstreetmap.org/?mlat={{latitude}}&mlon={{longitude}}" class="apsolu-location-markers-a" data-longitude="{{longitude}}" data-latitude="{{latitude}}">
				<img class="apsolu-location-markers-img" alt="carte géographique" src="{{marker_pix_url}}" width="15px" height="20px" />
			</a>
			{{/latitude}}
		</div>
	</div>
	{{/pre_sessions}}
{{/pre_count_sessions}}


{{#count_sessions}}
	{{#pre_count_sessions}}
	<h3 class="block-apsolu-attendance-h3">{{#str}}sessions,block_apsolu_attendance{{/str}}</h3>
	{{/pre_count_sessions}}

	{{#sessions}}
	<div class="block-apsolu-activities-box-div">
		<div class="clearfix">
			<p class="pull-left">{{{link}}}</p>
			{{#count_teachers}}
			<div class="pull-right">
				<p class="pull-left">Contacter votre enseignant :</p>
				<ul class="pull-right list list-inline block-apsolu-activities-contacts-ul">
					{{#teachers}}
					<li class="block-apsolu-activities-contacts-email-li"><a href="mailto:{{email}}">{{firstname}} {{lastname}}</a></li>
					{{/teachers}}
				</ul>
			</div>
			{{/count_teachers}}
		</div>
		<div class="clearfix">
	        <p class="block-apsolu-activities-time-p">
				<time datetime="{{starttime}}">{{startstr}}</time> &raquo; <time datetime="{{endtime}}">{{endstr}}</time>
			</p>
			<div>{{{description}}}
				{{#latitude}}
				<a target="_blank" href="https://www.openstreetmap.org/?mlat={{latitude}}&mlon={{longitude}}" class="apsolu-location-markers-a" data-longitude="{{longitude}}" data-latitude="{{latitude}}">
					<img class="apsolu-location-markers-img" alt="carte géographique" src="{{marker_pix_url}}" width="15px" height="20px" />
				</a>
				{{/latitude}}
			</div>
		</div>
    </div>
	{{/sessions}}
{{/count_sessions}}

<div id="apsolu-location-map"></div>
<div><img style="display: none;" id="apsolu-location-marker-img" alt="carte" src="{{marker_pix_url}}" /></div>
