{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_apsolu_course/student_block

    Template Moodle pour afficher les présences d'un étudiant.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * count_sessions Nombre de sessions auxquelles doit participer l'étudiant.
    * sessions Sessions auxquelles doit participer l'étudiant.
      * css_status Classes CSS Boostrap permettant d'afficher un code couleur (ex: success, warning, danger).
      * str_date Chaîne de caractères représentant la date de la session.
      * str_status Chaîne de caractères représentant la présence à la session.

    Example context (json):
    { "count_sessions": "2",
      "sessions": [
        {
        "css_status": "text-success",
        "str_date": "21 févr. 20",
        "str_status": "Présent"
        },
        {
        "css_status": "text-start",
        "str_date": "6 mars 20",
        "str_status": "-"
        }]
    }
}}
{{#count_sessions}}
<dl class="block-apsolu-badge-dl">
	{{#sessions}}
	<div class="block-apsolu-badge-div">
		<dt class="block-apsolu-badge-dt">{{str_date}}</dt>
		<dd class="block-apsolu-badge-dd {{css_status}}">{{str_status}}</dd>
	</div>
	{{/sessions}}
</dl>
{{/count_sessions}}

{{^sessions}}
	<p class="alert-info text-center">{{#str}}no_session, block_apsolu_course{{/str}}</p>
{{/sessions}}
