{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_apsolu_course/teacher_block

    Template Moodle pour afficher les présences d'un cours.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * wwwroot Correspond à la valeur de la variable Moodle $CFG->wwwroot.
    * count_enrols Nombre de méthodes d'inscription enrol_select dans ce cours.
    * enrols Méthodes d'inscription enrol_select dans ce cours.
      * id Identifiant de l'instance.
      * name Nom de l'instance.
    * count_sessions Nombre de sessions prévues dans ce cours.
    * sessions Sessions prévues dans ce cours.
      * str_date Chaîne de caractères représentant la date de la session.
      * presences Nombre total de présences pour à la session.

    Example context (json):
    {
      "wwwroot": "https://apsolu.fr",
      "count_enrols": "2",
      "many_enrols": true,
      "enrols": [
        {
        "id": 340,
        "name": "Semestre 1"
        },
        {
        "id": 341,
        "name": "Semestre 2"
        }
      ],
      "count_sessions": "2",
      "sessions": [
        {
        "str_date": "21 févr. 20",
        "presences": "14"
        },
        {
        "str_date": "6 mars 20",
        "presences": "0"
        }]
    }
}}
{{#count_enrols}}
<div class="text-center">
    <div class="btn-group" id="block-apsolu-course-edit-enrol-a">
        <a href="{{wwwroot}}/enrol/select/manage.php?courseid={{courseid}}" class="btn btn-primary btn-xs">{{#str}}manage_my_students, block_apsolu_course{{/str}}</a>
        {{# many_enrols }}
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="visually-hidden">{{#str}}enrolment_list, enrol_select{{/str}}</span></button>
        <div class="apsolu-dropdown-menu dropdown-menu dropdown-menu-end">
            {{#enrols}}
            <a class="dropdown-item" href="{{wwwroot}}/enrol/select/manage.php?enrolid={{id}}">{{name}}</a>
            {{/enrols}}
        </div>
        {{/ many_enrols }}
    </div>
</div>
{{/count_enrols}}
<hr />

<p id="block-apsolu-badge-action" class="text-center"><a href="{{wwwroot}}/local/apsolu/attendance/edit.php?courseid={{courseid}}" class="btn btn-primary btn-xs" id="block-apsolu-course-edit-attendance-a">{{#str}}set_presences, block_apsolu_course{{/str}}</a></p>

<hr />

{{#count_sessions}}
<dl class="block-apsolu-badge-dl">
	{{#sessions}}
	<div class="block-apsolu-badge-div">
		<dt class="block-apsolu-badge-dt">{{str_date}}</dt>
		<dd class="block-apsolu-badge-dd">{{presences}} présence(s)</dd>
	</div>
	{{/sessions}}
</dl>
{{/count_sessions}}

{{^sessions}}
	<p class="alert-info text-center">{{#str}}no_session, block_apsolu_course{{/str}}</p>
{{/sessions}}
